In [3]:
print(f"Corona infected states using LIST")
list1=['Maharashtra','TamilNadu','Delhi','Chennai','Gujarat']
list1.sort()
for x in list1:
 print(x)

print(f"Corona infected states with its count using LIST")
list2=[64689,92175,33913,187000,103432]
for a,b in zip(list1,list2):
  print(f"{a} -> {b}")

print(f"Numbers in recovered state wise using TUPLES")
tuple1=('Maharashtra','TamilNadu','Delhi','Chennai','Gujarat')
tuple2=(101343,58378,63007,40111,24593)
for i in range(0,len(tuple1)):
  print(f"{tuple1[i]} = {tuple2[i]}")
  
print(f"Numbers in infected state wise using Dictionary")
dict1={"Maharashtra":"187000","TamilNadu":"103432","Delhi":"92175","Chennai":"64689","Gujarat":"33913"}
print(dict1)
#for key,val in dict1.items():
#print (key,":",val)

Corona infected states using LIST
Chennai
Delhi
Gujarat
Maharashtra
TamilNadu
Corona infected states with its count using LIST
Chennai -> 64689
Delhi -> 92175
Gujarat -> 33913
Maharashtra -> 187000
TamilNadu -> 103432
Numbers in recovered state wise using TUPLES
Maharashtra = 101343
TamilNadu = 58378
Delhi = 63007
Chennai = 40111
Gujarat = 24593
Numbers in infected state wise using Dictionary
{'Maharashtra': '187000', 'TamilNadu': '103432', 'Delhi': '92175', 'Chennai': '64689', 'Gujarat': '33913'}