In [14]:
pip install -U scikit-learn scipy matplotlib

Requirement already up-to-date: scikit-learn in c:\users\elcot\anaconda3\lib\site-packages (0.23.1)
Requirement already up-to-date: scipy in c:\users\elcot\anaconda3\lib\site-packages (1.5.1)
Collecting matplotlib
  Using cached matplotlib-3.2.2-cp37-cp37m-win_amd64.whl (9.2 MB)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\elcot\anaconda3\lib\site-packages (from scikit-learn) (0.14.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\elcot\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\elcot\anaconda3\lib\site-packages (from scikit-learn) (1.18.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\elcot\anaconda3\lib\site-packages (from matplotlib) (2.4.6)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in c:\users\elcot\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in c:\users\elcot\anaconda3\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in c:\users\elcot\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied, skipping upgrade: six in c:\users\elcot\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.14.0)
Requirement already satisfied, skipping upgrade: setuptools in c:\users\elcot\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (45.2.0.post20200210)
Installing collected packages: matplotlib

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'C:\\Users\\ELCOT\\anaconda3\\Lib\\site-packages\\matplotlib\\ft2font.cp37-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Note: you may need to restart the kernel to use updated packages.

In [15]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.SVM import SVR
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn.SVM'

In [4]:
import pandas as pd
data = pd.read_csv('state_level_daily.csv',index_col="State" , parse_dates=['Date'])
#data=pd.read_csv('district_wise.csv',index_col="State_Code")
df=data.loc["AP"]
#print(type[rows])
df

       Unnamed: 0       Date  Confirmed  Deceased  Recovered      State_Name
State
AP              1 2020-04-01         67         0          1  Andhra Pradesh
AP             40 2020-07-01        657         6        477  Andhra Pradesh
AP             79 2020-06-01        105         2         34  Andhra Pradesh
AP            118 2020-05-01         60         2         82  Andhra Pradesh
AP            157 2020-04-02         38         0          0  Andhra Pradesh
...           ...        ...        ...       ...        ...             ...
AP           4447 2020-06-30        704         7        279  Andhra Pradesh
AP           4486 2020-03-30          2         0          0  Andhra Pradesh
AP           4525 2020-05-30        131         0         55  Andhra Pradesh
AP           4564 2020-03-31         21         0          0  Andhra Pradesh
AP           4603 2020-05-31        110         2         51  Andhra Pradesh

[119 rows x 6 columns]

In [5]:
mask=df['Date'].dt.month==6
df.loc[mask].to_csv("newfile.csv")
df1=pd.read_csv('newfile.csv')
df1.head()

,State,Unnamed: 0,Date,Confirmed,Deceased,Recovered,State_Name
0,AP,79,2020-06-01,105,2,34,Andhra Pradesh
1,AP,235,2020-06-02,115,0,40,Andhra Pradesh
2,AP,391,2020-06-03,180,4,50,Andhra Pradesh
3,AP,547,2020-06-04,141,3,65,Andhra Pradesh
4,AP,703,2020-06-05,138,2,36,Andhra Pradesh

In [6]:
df1=df1[['Confirmed','Recovered']]
print(df1.head())

   Confirmed  Recovered
0        105         34
1        115         40
2        180         50
3        141         65
4        138         36

In [7]:
forecast_out=15
#df1['prediction']=df1[['Recovered']].shift(-1)
df1['prediction']=df1[['Recovered']].shift(-forecast_out)
print(df1.tail())

    Confirmed  Recovered  prediction
25        605        208         NaN
26        796        284         NaN
27        813        428         NaN
28        793        324         NaN
29        704        279         NaN

In [8]:
import numpy as np
X=np.array(df1.drop(['prediction'],1))
X=X[:-forecast_out]
print(X)

[[105  34]
 [115  40]
 [180  50]
 [141  65]
 [138  36]
 [210  75]
 [199  29]
 [154  42]
 [ 69  48]
 [365 110]
 [182  99]
 [207 123]
 [222  94]
 [294 131]
 [304  69]]

In [9]:
y=np.array(df1['prediction'])
y=y[:-forecast_out]
print(y)

[128. 128. 131. 133. 206. 196. 128. 157. 187. 209. 208. 284. 428. 324.
 279.]

In [12]:
#from sklearn.model_selection import train_test_split
#x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [ ]:
#from sklearn.SVR import SVR
#svr_rbf=SVR(kernel='rbf',C=1e3, gamma=0.1)
#svr_rbf.fit(x_train,y_train)

In [ ]:
#svm_confidence=svr_rbf.score(x_test,y_test)
#print("SVM confidence:",svm_confidence)

In [ ]:
lr_rbf=LinearRegression()
lr_rbf.fit(x_train,y_train)

In [23]:
lr_confidence=lr_rbf.score(x_test,y_test)
print("Linear Regression confidence:",lr_confidence)

Linear Regression confidence: 0.23042680542136995

In [19]:
x_forecast=np.array(df1.drop(['prediction'],1))[-forecast_out:]
print(x_forecast)

[[264 128]
 [351 128]
 [425 131]
 [465 133]
 [491 206]
 [477 196]
 [443 128]
 [462 157]
 [497 187]
 [553 209]
 [605 208]
 [796 284]
 [813 428]
 [793 324]
 [704 279]]

In [22]:
lr_prediction=lr_rbf.predict(x_forecast)
print(lr_prediction)

[268.50723429 284.04988997 300.3560822  309.55946569 389.29712121
 376.5093297  300.48580171 333.71153088 370.82434693 403.45949888
 411.72069459 524.02180288 675.1869865  564.63254728 502.44255387]